*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	color: blue;
	background-color: green;
}
h2{
	color: black;
	background-color: yellow;
}
h3{
	color: blue;
	background-color: black;
}
h4{
	color: red;
	background-color: green;
}
